* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  body{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .App{
    background-color: #adcbe3;
    height:200vh;
  }
